APP_ENV=
POSTGRES_DB=xove
POSTGRES_USER=xove
POSTGRES_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_EMAILS=
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
# IMAGE_TAG is written by ops/deploy.sh; leave it unset locally
